APP_NAME=Blockchain Indexer API
APP_VERSION=1.0.0
DEBUG=false

DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/blockchain_indexer

REDIS_URL=redis://redis:6379/0

BLOCKCHAIN_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
BLOCKCHAIN_CHAIN_ID=11155111

START_BLOCK=0
CONFIRMATION_BLOCKS=12
INDEXER_BATCH_SIZE=10